.wrapper {
  width: 600px;
  height: 400px;
  border: 1px solid #000;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 100%;
  padding: 30px 50px;
}
