.card {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: blue;
}

.focused {
  border: 1px dashed #000;
}
